@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Lobster&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /*  min-height: 400px; */
    background-image: url(imagemCripto2.jpg);
    background-position: center;
    background-size: 80%;
    /* background-repeat: no-repeat; */
}

.container {
    position: relative;
    background: rgba(255, 255, 255, 0.01);
    border-radius: 20px;
    overflow: hidden;
    /* para n'ao expandir */
    backdrop-filter: blur(5px);
    /* border-top: 1px solid rgba(255, 255, 255, 0.25); */
    border-left: 1px solid rgba(255, 255, 255, 0.35);
    width: 80vw;
    max-width: 600px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    color: #fff;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.container .calculator {
    position: relative;
    display: grid;
    grid-row: span 5;
}

.container .calculator .value {
    grid-column: span 4;
    height: 20vh;
    width: 80vw;
    max-width: 600px;
    text-align: left;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 4em;
    background: transparent;
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    /*border-right: 0.5px solid rgba(255, 255, 255, 0.15);*/
    flex-wrap: wrap;
    flex-direction: row;
}

.container .calculator .new {
    grid-column: span 4;
    height: 10vh;
    width: 80vw;
    max-width: 600px;
    text-align: left;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 3em;
    background: transparent;
    color: rgb(250, 250, 250);
    flex-wrap: wrap;
    flex-direction: row;
}

.container .calculator span {
    place-items: center;
    display: grid;
    height: 12vh;
    width: 20vw;
    max-width: 150px;
    color: #fff;
    font-size: 2em;
    font-weight: 900;
    cursor: pointer;
    user-select: none;
    /* para não selecionar o texto */
    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
    border-right: 1px solid rgba(255, 255, 255, 0.04);
    transition: 0.5s;
}

.container .calculator span:hover {
    transition: 0s;
    background: rgba(250, 45, 151, 0.897)
}

.container .calculator span:active {
    background: white;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

.container .calculator .clear {
    grid-column: span 2;
    width: 40vw;
    max-width: 300px;
    background-color: rgba(184, 158, 15, 0.705);
}

.container .calculator .plus {
    grid-row: span 2;
    height: 24vh;
    background-color: rgba(7, 7, 7, 0.15);
}

.equal {
    background-color: rgba(247, 210, 4, 0.15);
}

@media only screen and (max-width: 480px) {
    /* dimensoes iFhone se*/
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        /*  min-height: 400px; */
        background-image: url(mobileCalculadora.jpg);
        background-position: center;
        background-size: 80%;
        /*  background-repeat: no-repeat; */
    }
    .container {
        background: rgba(255, 255, 255, 0.01);
        overflow: hidden;
        backdrop-filter: blur(2px);
        /*  border-left: 1px solid rgba(255, 255, 255, 0.35); */
        width: 100vw;
        height: 100vh;
        /* box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5); */
        color: #fff;
        border-radius: 0px;
        margin-top: 0px
    }
    .nomeCalc {
        display: none;
    }
    .container .calculator {
        position: relative;
        display: grid;
        grid-row: span 5;
    }
    .container .calculator .value {
        grid-column: span 4;
        height: 20 vh;
        width: 100vw;
        /* max-width: 600px; */
        text-align: left;
        border: none;
        outline: none;
        padding: 10px;
        font-size: 4em;
        background: transparent;
        color: #fff;
        border-bottom: 2px solid rgba(255, 255, 255, 0.15);
        /*border-right: 0.5px solid rgba(255, 255, 255, 0.15);*/
    }
    .container .calculator .new {
        grid-column: span 4;
        height: 15vh;
        width: 100vw;
        text-align: left;
        border: none;
        outline: none;
        padding: 10px;
        font-size: 2em;
        background: transparent;
        color: rgb(250, 250, 250);
    }
    .container .calculator span {
        place-items: center;
        display: grid;
        height: 13vh;
        width: 25vw;
        /* max-width: 150px; */
        color: #fff;
        font-size: 2em;
        font-weight: 900;
        cursor: pointer;
        user-select: none;
        /* para não selecionar o texto */
        border-bottom: 2px solid rgba(255, 255, 255, 0.04);
        border-right: 2px solid rgba(255, 255, 255, 0.04);
        transition: 0.5s;
    }
    .container .calculator span:hover {
        transition: 0s;
        background: rgba(250, 45, 151, 0.904)
    }
    .container .calculator span:active {
        background: white;
        color: rgb(0, 0, 0);
        font-weight: bolder;
    }
    .container .calculator .clear {
        grid-column: span 2;
        /*   width: 40vw; */
        /* max-width: 300px; */
        background-color: rgba(184, 158, 15, 0.705);
    }
    .container .calculator .plus {
        grid-row: span 2;
        height: 26vh;
        background-color: rgba(7, 7, 7, 0.15);
    }
    .equal {
        background-color: rgba(247, 210, 4, 0.15);
    }
}